@media screen and (min-width: 768px) {
    #sidebar-menu {
        overflow-y: auto;
    }
}

@media only screen and (max-width: 480px) {
    .name-user {
        margin-bottom: 0px !important;
        font-size: 2em;
    }
}
.sidebar-profile-thumb img{
    padding: 0!important;
}
